body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }

a{
    font-family:'Montserrat',sans-serif;
    color:white;
    text-decoration: none;
}
        
    #wrap {
        width: 1100px;
        margin: 0 auto;
    }
        
    #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #e97c7c;
        background: #f3d5d5;
        
    }
        
    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }
        
    #external-events .yellow-event {
        margin: 10px 0;
        cursor: pointer;
         background-color: #f39c12;
         position: relative;
    display: block;
    border-radius: 3px;
    border: 1px solid #d47c19;
    padding-bottom: 5px;
    padding-top: 5px;
    }

     #external-events .red-event {
      background-color: #dd4b39;
       margin: 10px 0;
        cursor: pointer;
    position: relative;
    display: block;
    border-radius: 3px;
    border: 1px solid #db1399;
    padding-bottom: 5px;
    padding-top: 5px;
    

    }

    #external-events .blue-event {
      background-color: #3c8dbc;
       margin: 10px 0;
        cursor: pointer;
       position: relative;
    display: block;
    border-radius: 3px;
    border: 1px solid #3a87ad;
    padding-bottom: 5px;
     padding-top: 5px;
    }

    #external-events .green-event {
      background-color: #00a65a;
       margin: 10px 0;
        cursor: pointer;
      position: relative;
    display: block;
    border-radius: 3px;
    border: 1px solid #118383;
    padding-bottom: 5px;
    padding-top: 5px;
    }
        
    
    #calendar {
        float: right;
        width: 900px;
    }